<!-- page for the lectures. It will embed the video and also display the lecture name, description and comment section
	The data we have currently is dummy data and will be read in from the data base later on -->

<%var title = "alkdf"; %>

<h1>LECTURE PAGE</h1>

<%var title = "Lecture 1"; %>
<%var description = "description"; %>
<%var address = "https://www.youtube.com/embed/tgbNymZ7vqY"; %>

<h3><%=title%></h3>
<h5><%=description%></h5>
<h3>Video</h3>
	<div class="leftpane">
		<iframe width="500" height="420"
			src="<%=address%>">
		</iframe>
	</div>
	

<h3>Comments</h3>
<div style = "margin: auto; width: 50%; border: 3px solid black; padding: 10px;">
	<div style = "border-bottom: 1px solid black; font-weight: bold; font-size: 30px">Comments</div>
	
	<!- Parse through data given to display all comments->
	<% commentsArr.forEach(function(comment){ %>
		<div style = "border-bottom: 1px solid black">
			<%var date = comment.date + " " + comment.time;%>
			<div><%=date%></div>
			<div><strong><%=comment.username%>: </strong><%=comment.commentData%></div>
		</div>
	
	<%});%>

	<!- this form will handle the comments, textbox that will be sent to app.js page to be handled->
	<form action = "/newComment" method = "POST">
		<input type = "text" name = "comment" placeholder = "Enter Comment Here">
		<button>Submit</button>
	</form>
</div>

